@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-destaque: #22D4FD;
    --cor-principal: #F6F6F6;
    --cor-fundo: #000000;
    --fonte-destaque: "Krona One", sans-serif;
    --fonte-principal: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-principal);
    box-sizing: border-box;
}

.cabecalho {
    padding: 2% 0% 0% 16%;
}

.cabecalho_menu {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.cabecalho_menu_link {
    font-family: var(--fonte-destaque);
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--cor-destaque);
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 6% 16%;
    gap: 82px;
}

.conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

.conteudo_titulo {
    font-family: var(--fonte-destaque);
    font-size: 1.5rem;
}

.texto_marcado {
    color: var(--cor-destaque);
}

.conteudo_texto {
    font-family: var(--fonte-principal);
    font-size: 1.1rem;
}

.conteudo_links_texto {
    font-family: var(--fonte-destaque);
    font-size: 1.1rem;
    font-weight: 400;
}

.conteudo_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.conteudo_link {
    font-family: var(--cor-principal);
    font-weight: 600;
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    color: var(--cor-principal);
    width: 50%;
    border: solid 2px var(--cor-destaque);
    border-radius: 8px;
    padding: 10px 0;
    gap: 16px;
}

.conteudo_link:hover {
    background-color: #272727;
}

.profile_picture {
    border: 2px var(--cor-destaque) solid;
    width: 50%;
}

.rodape {
    font-family: var(--fonte-principal);
    font-size: 1.1rem;
    font-weight: 600;
    color: #000000;
    background-color: var(--cor-destaque);
    padding: 17px;
    text-align: center;
    text-decoration: none;
}

.rodape_link {
    text-decoration: none;
    color: #000000;
}

.conteudo_titulo_about {
    font-size: 1.8rem;
}

.conteudo_texto_about {
    font-size: 1.5rem;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho_menu {
        justify-content: center;
    }

    .container {
        flex-direction: column-reverse;
        padding: 6%;
    }

    .conteudo {
        width: auto;
    }
}